<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="container centered">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="well" id="header">
          <h2>Word Counter</h2>
          <p>Enter a word in the first field and a sentence in the second field.</p>
          <p>The program will tell you how many instances of your word are in the sentence.</p>
        </div>
        <div class="well">
          <form action="/submit" method="post">
            <label for="">Enter a word:</label><br>
            <input type="text" name="word" required><br>
            <label for="">Enter another word or sentence:</label><br>
            <input type="text" name="sentence" required><br>
            <button type="submit" name="button">Submit</button>
          </form>
        </div>
        @if (Model != null)
        {
        <div class="well">
          <h4>"@Model.GetWord()" occurs in "@Model.GetString()" @Model.GetOccurences() @if (Model.GetOccurences() == 1) {<span>time.</span>} else {<span>times.</span>}</h4>
        </div>
        }
    </div>
    <div class="col-md-2">
    </div>
  </body>
</html>
