<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="Content/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="Content/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="container centered">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="well" id="header">
          <h3>Word Counter</h3>
        </div>
        <div class="well">
          <form action="/submit" method="post">
            <label for="">Enter a word:</label><br>
            <input type="text" name="word" required><br>
            <label for="">Enter another word or sentence:</label><br>
            <input type="text" name="sentence" required><br>
            <button type="submit" name="button">Submit</button>
          </form>
        </div>
        @if (Model != null)
        {
        <div class="well">
          <h2>Result:</h2>
          <span>"@Model.GetWord()" occurs in "@Model.GetString()" @Model.GetOccurences() times.</span>
        </div>
        }
    </div>
    <div class="col-md-2">

    </div>
  </body>
</html>
